
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update devices-group</h5>
        <button type="button" class="close" ng-click="vm.cancel()">
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="code-devices-group" class="form-control-label">Mã nhóm thiết bị:</label>
                        <input type="text" class="form-control" id="code-devices-group">
                    </div>
                    <div class="form-group">
                        <div class="kt-form__group kt-form__group--inline">
                            <div class="kt-form__label">
                                <label>Trạng thái:</label>
                            </div>
                            <div class="kt-form__control">
                                <select class="form-control bootstrap-select" id="" ng-model="vm.status">
                                    <option value="{{item.value}}" ng-repeat="item in vm.lstStatus">{{item.title}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name-text" class="form-control-label">Tên nhóm thiết bị:</label>
                        <input type="text" class="form-control" id="name-text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-if="!vm.showAddNew"> <i class="la la-save"></i>Update</button>
        <button type="button" class="btn btn-primary" ng-if="vm.showAddNew"> <i class="la la-plus"></i>Add new</button>
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()"><i class="la la-ban"></i>Close</button>
    </div>
</div>