<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Delete device</h4>
        <button type="button" class="close" ng-click="vm.cancel()">
        </button>
    </div>
    <div class="modal-body">
       <h5>Are you sure delete this item?</h5>
       <p>{{vm.dataItem.companyName}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="vm.deleteItem()"><i class="la la-trash"></i>Delete</button>
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()"><i class="la la-ban"></i>Close</button>
    </div>
</div>