
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update areas</h5>
        <button type="button" class="close" ng-click="vm.cancel()">
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="recipient-name" class="form-control-label">Mã khu vực:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <div class="kt-form__label">
                            <label>Huyện:</label>
                        </div>
                        <div class="kt-form__control">
                            <select class="form-control bootstrap-select" id="kt_form_type" ng-model="vm.district">
                                <option value="{{item.value}}" ng-repeat="item in vm.lstDistrict">{{item.title}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Tên khu vực:</label>
                        <input type="text" class="form-control" id="user-name">
                    </div>
                    
                    <div class="form-group">
                        <div class="kt-form__label">
                            <label>Tỉnh:</label>
                        </div>
                        <div class="kt-form__control">
                            <select class="form-control bootstrap-select" id="kt_form_type" ng-model="vm.province">
                                <option value="{{item.value}}" ng-repeat="item in vm.lstProvince">{{item.title}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="kt-form__label">
                            <label>Quốc gia:</label>
                        </div>
                        <div class="kt-form__control">
                            <select class="form-control bootstrap-select" id="kt_form_type" ng-model="vm.country">
                                <option value="{{item.value}}" ng-repeat="item in vm.lstCountry">{{item.title}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="form-control-label">Vị trí:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="kt-form__label" style="width: 20%">
                            <label>Trạng thái:</label>
                        </div>
                        <div class="kt-form__control">
                            <div class="kt-radio-list">
                                <label ng-repeat="item in vm.lstStatus" class="kt-radio">
                                    <input type="radio" name="radio_status"> {{item.title}}
                                    <span></span>
                                </label>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-if="!vm.showAddNew"> <i class="la la-save"></i>Update</button>
        <button type="button" class="btn btn-primary" ng-if="vm.showAddNew"> <i class="la la-plus"></i>Add new</button>
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()"><i class="la la-ban"></i>Close</button>
    </div>
</div>