.kt-portlet {
    display: block;
    -webkit-animation: kt-header-menu-submenu-fade-in 0.3s ease 1, kt-header-menu-submenu-move-down 0.3s ease-out 1;
    animation: kt-header-menu-submenu-fade-in 0.3s ease 1, kt-header-menu-submenu-move-down 0.3s ease-out 1;
}
.btn-right{
    float: right;
}

.btn-left{
    float: left;
}

.ats-dropdown{
    .dropdown-footer{
        padding: 15px;
    }
}

.form-group{
    .ats-input-2{
        margin-top: 15px;
    }
    .ats-label-right{
        text-align: right;
    }
}

.ats-paging{
    li{
        border-radius: 3px;
        a{
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 2.25rem;
            min-width: 2.25rem;
            padding: 0.5rem;
            border-radius: 3px;
            position: relative;
            font-size: 1rem;
            line-height: 1rem;
            font-weight: 500;
            opacity: .7;
        }
        &.active{
            background: #5d78ff;
            a{
                color: #ffffff!important;
            }
        }
        &:not(.pagination-page){
            background-color: #f0f3ff;
            color: #000;
            a{
                font-size: 20px;
            }
        }
    }
}


#perfectScrollTable{
    position: relative;
    .ps__rail-x{
        position: absolute;
        bottom: 0px;
    }
}