
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update devices</h5>
        <button type="button" class="close" ng-click="vm.cancel()">
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="code-devices" class="form-control-label">Mã thiết bị:</label>
                        <input type="text" class="form-control" id="code-devices">
                    </div>
                    <div class="form-group">
                        <label for="name-text" class="form-control-label">Tên thiết bị:</label>
                        <input type="text" class="form-control" id="name-text">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name-devices-group" class="form-control-label">Nhóm thiết bị:</label>
                        <input type="text" class="form-control" id="name-devices-group">
                    </div>
                    <div class="form-group">
                        <label for="devices-type" class="form-control-label">Loại thiết bị:</label>
                        <input type="text" class="form-control" id="devices-type">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="manudate" class="form-control-label">Manudate:</label>
                        <input type="text" class="form-control" id="manudate">
                    </div>
                    <div class="form-group">
                        <label for="note" class="form-control-label">Ghi chú:</label>
                        <textarea class="form-control" id="note"></textarea>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="isActive-device" class="form-control-label">Trạng thái:</label>
                        <input type="text" class="form-control" id="isActive-device">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-if="!vm.showAddNew"> <i class="la la-save"></i>Update</button>
        <button type="button" class="btn btn-primary" ng-if="vm.showAddNew"> <i class="la la-plus"></i>Add new</button>
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()"><i class="la la-ban"></i>Close</button>
    </div>
</div>