
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update devices</h5>
        <button type="button" class="close" ng-click="vm.cancel()">
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">

                    <div class="form-group">
                        <label for="code-devices" class="form-control-label">Mã thiết bị:</label>
                        <input type="text" class="form-control" id="code-devices">
                    </div>

                    <div class="form-group">
                        <label for="name-text" class="form-control-label">Tên thiết bị:</label>
                        <input type="text" class="form-control" id="name-text">
                    </div>

                    <div class="form-group">
                        <label for="manudate" class="form-control-label">Manudate:</label>
                        <input type="text" class="form-control" id="manudate">
                    </div>

                    <div class="form-group">
                        <div class="kt-form__label" style="width: 20%">
                            <label>Trạng thái:</label>
                        </div>
                        <div class="kt-form__control">
                            <div class="kt-radio-list">
                                <label ng-repeat="item in vm.lstStatus" class="kt-radio">
                                    <input type="radio" name="radio_status"> {{item.title}}
                                    <span></span>
                                </label>
                                
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 kt-margin-b-20-tablet-and-mobile">

                    <div class="form-group">
                        <div class="kt-form__label" style="width: 25%">
                            <label>Nhóm thiết bị:</label>
                        </div>
                        <div class="kt-form__control">
                            <select class="form-control bootstrap-select" id="kt_form_group" ng-model="vm.deviceInfo.group">
                                <option value="{{item.value}}" ng-repeat="item in vm.lstDeviceGroup">{{item.title}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="kt-form__label" style="width: 25%">
                            <label>Loại thiết bị:</label>
                        </div>
                        <div class="kt-form__control">
                            <select class="form-control bootstrap-select" id="kt_form_type" ng-model="vm.deviceInfo.type">
                                <option value="{{item.value}}" ng-repeat="item in vm.lstDeviceType">{{item.title}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="note" class="form-control-label">Ghi chú:</label>
                        <textarea class="form-control" id="note" rows="5"></textarea>
                    </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-if="!vm.showAddNew"> <i class="la la-save"></i>Update</button>
        <button type="button" class="btn btn-primary" ng-if="vm.showAddNew"> <i class="la la-plus"></i>Add new</button>
        <button type="button" class="btn btn-secondary" ng-click="vm.cancel()"><i class="la la-ban"></i>Close</button>
    </div>
</div>